In [5]:
# Importing the dependencies 

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [7]:
# Importing the dataset 

df = pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [8]:
# Overview of the dataset 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [9]:
df.shape

(284807, 31)

In [10]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [14]:
# Number of fraud card :
#0 --> Normal Transaction
#1 --> Fraudulent transaction

df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [16]:
# Separating the data for analysis

legit = df[df.Class == 0]
fraudulent = df[df.Class == 1]

In [18]:
print(legit.shape)
print(fraudulent.shape)

(284315, 31)
(492, 31)

In [19]:
# Getting statistical measures 

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [20]:
fraudulent.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [21]:
# Compare the values for both transaction 

df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling

Build a sample dataset containing simillar distrubution of normal transaction and Fraudulan Transaction

Number of Fraudulent transaction --> 492

In [26]:
# Take a random values on legit values
legit_sample = legit.sample(n=492)

In [29]:
# Concatenating Two dataframe

new_df = pd.concat([legit_sample,fraudulent],axis=0)
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
252599,155883.0,0.631670,-4.507367,-2.518337,-1.687783,-0.132850,4.369624,-1.063966,0.853060,-0.717894,...,-0.056155,-1.449865,-0.232752,0.690979,-0.780149,-0.540451,-0.081099,0.099420,835.00,0
64508,51173.0,-1.667069,-4.752934,0.176662,2.741291,-2.577133,1.085889,0.988047,-0.031683,1.031368,...,0.745247,-0.538085,-1.290726,0.665267,0.007989,-0.521276,-0.162199,0.275358,1414.74,0
211241,138325.0,1.996402,-0.396094,-0.675161,0.091219,-0.133756,0.342735,-0.653977,0.218139,1.117494,...,-0.181298,-0.461901,0.322867,0.032937,-0.369504,-0.634909,0.022740,-0.041213,6.95,0
151715,96096.0,1.921009,-0.329180,-1.102298,0.322602,0.075307,-0.250678,-0.134219,-0.171006,2.083286,...,0.012224,0.450977,0.025521,0.779406,0.158590,0.093222,-0.067930,-0.062034,53.90,0
13150,23090.0,-1.760646,1.372799,2.820461,3.047343,-0.698972,0.771281,-0.324002,0.221877,1.170987,...,-0.271655,0.021593,-0.078675,0.438593,-0.155345,0.034550,-1.160282,-0.943164,9.47,0

In [30]:
new_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [31]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [32]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96087.038618,0.060997,0.005330,0.011279,0.004172,-0.156278,0.120333,0.071710,-0.074347,0.039139,...,-0.005513,-0.040938,0.004197,-0.009782,-0.008007,-0.021207,0.012143,0.026557,-0.011308,115.815508
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [35]:
# Splitting the data into features and targets 

X = new_df.drop('Class',axis=1)
y = new_df['Class']

In [36]:
 X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
252599,155883.0,0.631670,-4.507367,-2.518337,-1.687783,-0.132850,4.369624,-1.063966,0.853060,-0.717894,...,1.287540,-0.056155,-1.449865,-0.232752,0.690979,-0.780149,-0.540451,-0.081099,0.099420,835.00
64508,51173.0,-1.667069,-4.752934,0.176662,2.741291,-2.577133,1.085889,0.988047,-0.031683,1.031368,...,2.763269,0.745247,-0.538085,-1.290726,0.665267,0.007989,-0.521276,-0.162199,0.275358,1414.74
211241,138325.0,1.996402,-0.396094,-0.675161,0.091219,-0.133756,0.342735,-0.653977,0.218139,1.117494,...,-0.194042,-0.181298,-0.461901,0.322867,0.032937,-0.369504,-0.634909,0.022740,-0.041213,6.95
151715,96096.0,1.921009,-0.329180,-1.102298,0.322602,0.075307,-0.250678,-0.134219,-0.171006,2.083286,...,-0.120844,0.012224,0.450977,0.025521,0.779406,0.158590,0.093222,-0.067930,-0.062034,53.90
13150,23090.0,-1.760646,1.372799,2.820461,3.047343,-0.698972,0.771281,-0.324002,0.221877,1.170987,...,-0.034448,-0.271655,0.021593,-0.078675,0.438593,-0.155345,0.034550,-1.160282,-0.943164,9.47

In [37]:
y.head()

252599    0
64508     0
211241    0
151715    0
13150     0
Name: Class, dtype: int64

In [38]:
# Split the data into Traning and Testing data

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=2,test_size=0.2,stratify=y)

In [39]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [40]:
# Model training 

# Initialization
lg = LogisticRegression()

# Fit the data
lg.fit(X_train,y_train)

LogisticRegression()

In [43]:
# Accuracy score on the training data


X_train_eval = lg.predict(X_train)
acc_sc_train = accuracy_score(X_train_eval,y_train)

print('Accuracy score on the training data:', acc_sc_train * 100,'%')

Accuracy score on the training data: 92.12198221092758 %

In [44]:
# Predict the test data

X_test_predict = lg.predict(X_test)
acc_sc_test = accuracy_score(X_test_predict,y_test)

print('Accuracy score on the test data:', acc_sc_test * 100,'%')

Accuracy score on the test data: 90.35532994923858 %